[Unit]                                               
Description=Claude Light server
		                                               
[Service]                                          
Type=simple                                       
Restart=always                                         
RestartSec=1                                        
User=jkitchin                                
ExecStart=/home/jkitchin/.venv/bin/claude                           
ExecStop=pkill claude
	                         
[Install]
WantedBy=multi-user.target
