<!DOCTYPE html>
<html>
  <style>
table, th, td {
  border:1px solid black;
  border-collapse: collapse;
}
</style>
  <body>
    <h1>Green Machine #1</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li><font color="red">{{ message }}</font></li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    Enter numbers between 0 to 1 in the input box. Separate the numbers by commas. For example, 0, 0.1, 0.2. Press Enter/Return or the Measure button to start the experiment.
    <br>
    <br>
    <form method="post">
      Green: <input type="text" name="G"/>
      <button type="submit">Measure</button>
      <br>
      <br>
      <h2>Results</h2>
      You should be able to copy and paste this table into Excel.
      <table style="width:33%">
	<tr><th>Input</th><th>Output</th></tr>
	{% for row in data %}
	<tr><th>{{ row[0] }}</th><th>{{ row[1] }}</th></tr>
	{% endfor %}
      </table>
      <br>
      <br>
      Download: <a download="data.csv" href="data:text/csv;base64,{{ b64 }}" target=_"blank">Download csv file</a>
    </form>

  </body>
</html>
